.column {
   float: left; 
  width: 30%; 
  padding: 1em;
}
        
.header {
    background: url(table_mountain.jpg);
    font-size: xx-large;
    padding: 0em;
    font-family: Impact;
    text-align: center;
}
@media screen and (max-width:800px){
.div {
    width: 90%;
}
.column {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
img {
    width: 30%;
}
.right {
    float: left;
}
}

table, th, td{
    border: 3px solid black;
    border-collapse: collapse;
}
.clearfix {
    overflow: auto;
}
  